<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div style="text-align: center;">
        <p>
            <p>批量的上传文件，为添加书籍或者修改</p>
            <p><button style="background-color: bisque"><a href="/excel/">批量上传</a></button> </p>    
        
        </p>
        
        <p>
            <p>celery实时统计月报，并把结果生成表格，下载导出</p>
            <p><button style="background-color: bisque"><a href="/celery/">月报生成</a></button></p>
        </p>
        
    </div>
</head>
<body>

</body>
</html>